In [0]:
#importing the packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random as rand

In [2]:
#Installing library to access Google Firebase
!pip install python-firebase

Requirement already satisfied: python-firebase in /usr/local/lib/python3.6/dist-packages (1.2)
Requirement already satisfied: requests>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from python-firebase) (2.21.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->python-firebase) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->python-firebase) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->python-firebase) (1.24.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=1.1.0->python-firebase) (2.8)

In [3]:
#Creating our virtual data base
d = {'Bar Code': [8902579103507, 8901764012907, 8901764022906, 8902576123801, 8902170246811, 8913579135012, 8924510664907, 8902369946913, 8905219182404, 8908647951045], 'Product': ['frooti', 'coke', 'fanta', 'uncle chips', 'lays', 'kurkure', 'noodles', 'pasta','pickle', 'nice time'], 'Calories(kcal)': [130, 88, 104, 300, 280, 340, 1060, 980, 400, 250]}
df = pd.DataFrame(data=d)
df

        Bar Code      Product  Calories(kcal)
0  8902579103507       frooti             130
1  8901764012907         coke              88
2  8901764022906        fanta             104
3  8902576123801  uncle chips             300
4  8902170246811         lays             280
5  8913579135012      kurkure             340
6  8924510664907      noodles            1060
7  8902369946913        pasta             980
8  8905219182404       pickle             400
9  8908647951045    nice time             250

In [0]:
#Importing firebase from the library and then linking the RealTime Database with script.
from firebase import firebase
firebase = firebase.FirebaseApplication('https://bar-code-89380.firebaseio.com/', None)

In [0]:
#This function returns the calories corresponding to a barcode of the given food product
def food(result):
  y=df[df['Bar Code']==int(result)].loc[:, 'Calories(kcal)']
  calories=y.iloc[0]
  return calories

In [0]:
#This function returns the name of product given the corresponding barcode.
def product_detector(re):
  oi=df[df['Bar Code']==re].iloc[0]['Product']
  return(oi)

In [0]:
#This function links barcode to the 
def check12 (result):
  return (food(result))

In [0]:
#This function gives calories burnt during different activities.
def work ():
  int_work=0
  mod_work=0
  sim_work=0
  choice=rand.randint(1,10)
  steps=rand.randint (800,1000)
  cal_walking=steps*0.001
  if (choice==1):
    int_work=rand.uniform (.04,.07)
  if (choice==2):
    mod_work=rand.uniform(0.02,0.04)
  if (choice==3):
    sim_work=rand.uniform (0.01,0.02)
  return (steps, cal_walking, int_work, mod_work, sim_work)

In [9]:
#Initializing our real time data frame
data=[]
daframe= pd.DataFrame (data=data, columns=['Date', 'Calories_Intake', 'Calories_burnt'])
daframe.loc[0]=['20/10/2019']+ [0]+ [0]

daframe

         Date Calories_Intake Calories_burnt
0  20/10/2019               0              0

In [0]:
#This function adds the recently intake calories to the existing calories.
def dadd(calories):
  r=len(daframe)
  daframe.loc[0,'Calories_Intake']=daframe.loc[0, 'Calories_Intake']+calories
  print (daframe)

In [0]:
#This function generates random data which mimics data of a fitband (Virtual fitband).
def fitbit():
  steps,cal_walking, int_work, mod_work, sim_work=work()
  total_burnt=cal_walking+ int_work+ mod_work+ sim_work
  daframe.loc[0, 'Calories_burnt']=daframe.loc[0, 'Calories_burnt']+total_burnt

In [0]:
#This functions assigns category depending on the range of BMI. 
def category(bmi):
  if bmi<18.5:
    return 'Underweight'
  if bmi>18.5 and bmi<24.9:
    return 'Healthy'
  if bmi>24.9:
    return 'Overweight'

In [0]:
#This function decides threshold of every BMI category according to intake calories - burnt calories
def diff_to_main (bmi):
  t=category(bmi)
  diff=0
  if (t=='Underweight'):
    diff=500 
  if (t=='Healthy'):
    diff=250
  if (t=='Overweight'):
    diff=-500
  return (diff)

In [14]:
#importing the data set for tracking a person's activity
!wget --no-check-certificate \
https://raw.githubusercontent.com/shivam2199/DAta_sets/master/Fitbit.csv

--2019-10-13 05:23:25--  https://raw.githubusercontent.com/shivam2199/DAta_sets/master/Fitbit.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3274 (3.2K) [text/plain]
Saving to: ‘Fitbit.csv.6’

Fitbit.csv.6        100%[===================>]   3.20K  --.-KB/s    in 0s

2019-10-13 05:23:26 (63.0 MB/s) - ‘Fitbit.csv.6’ saved [3274/3274]

In [15]:
#Converting the data from CSV to dataframe
data1=pd.read_csv('Fitbit.csv.1')
sd=pd.DataFrame(data=data1)
sd.head()

      Day  Calories Burned  ...  Minutes Light Sleep  Minutes Deep Sleep
0  15-Apr           2128.0  ...                303.0                45.0
1  16-Apr           2229.0  ...                256.0                83.0
2  17-Apr           2177.0  ...                223.0               102.0
3  18-Apr           2128.0  ...                234.0                99.0
4  19-Apr           2006.0  ...                263.0                74.0

[5 rows x 16 columns]

In [16]:
#Deciding the personal characteristics of a person using his past eating and exercising data obtained by fitband.
data1['Calories Burned']=data1['Calories Burned'].astype(int)
data1['Steps']=data1['Steps'].astype(int)
data1['Minutes Lightly Active']=data1['Minutes Lightly Active'].astype(int)
data1['Minutes Fairly Active']=data1['Minutes Fairly Active'].astype(int)
data1['Minutes Very Active']=data1['Minutes Very Active'].astype(int)
mean_cal_burn=np.mean(data1['Calories Burned'])
mean_steps=np.mean(data1['Steps'])
mean_mla=np.mean(data1['Minutes Lightly Active'])
mean_mma=np.mean(data1['Minutes Fairly Active'])
mean_mva=np.mean(data1['Minutes Very Active'])
data2={'mean_cal':[mean_cal_burn], 'mean_steps':[mean_steps], 'mean_mla':[mean_mla],'mean_mma': [mean_mma], 'mean_mva': [mean_mva]}
rt=pd.DataFrame(data=data2)
rt

      mean_cal    mean_steps    mean_mla   mean_mma   mean_mva
0  2321.071429  11631.785714  280.607143  31.107143  30.214286

In [17]:
#Defining appropriate range of calorie intake, burnt, steps and exercise using past dataset +(-) error
m_cal_r =range(int(0.9*mean_cal_burn),int(1.1*mean_cal_burn))
m_step_r=range(int(0.9*mean_steps), int(1.1*mean_steps))
m_mla_r=range (int(0.9*mean_mla), int(1.1*mean_mla))
m_mma_r=range(int(0.9*mean_mma), int(1.1*mean_mma))
m_mva_r=range(int(0.9*mean_mva), int(1.1*mean_mva))
m_cal_r

range(2088, 2553)

In [0]:
#This function decides whether the person should eat or discard the food item according to the conditions specifies before.
def can_I_eat (re,bmi):
  range2=diff_to_main(bmi)
  g=check12(re)
  if (g+daframe.loc[0, 'Calories_Intake']) > int(1.1*mean_cal_burn):
    return 'No you cannot eat it'
  else:
    m= daframe.loc[0, 'Calories_Intake']- daframe.loc[0, 'Calories_burnt']+g
    print (m)
    if m<range2:
      dadd(g)
      print (daframe)
      return 'Yes You can eat'
    else:
      return 'No you cannot eat it'

In [19]:
!wget --no-check-certificate \
https://raw.githubusercontent.com/shivam2199/DAta_sets/master/Char_Sheet3

--2019-10-13 05:23:47--  https://raw.githubusercontent.com/shivam2199/DAta_sets/master/Char_Sheet3
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 480 [text/plain]
Saving to: ‘Char_Sheet3.6’

Char_Sheet3.6       100%[===================>]     480  --.-KB/s    in 0s

2019-10-13 05:23:47 (82.7 MB/s) - ‘Char_Sheet3.6’ saved [480/480]

In [20]:
#A data set for different edible products
health=pd.read_csv('Char_Sheet3')
fg=pd.DataFrame(data=health)
fg

        Bar Code      Product  Category  Calories  Sugar  Trans Fat  Total Fat
0  8902579103507       Frooti  Beverage       130   22.0        0.0        0.0
1  8901764012907         Coke  Beverage        88   26.0        0.0        0.0
2  8901764022906        Fanta  Beverage       104   26.6        0.0        0.0
3  8902576123801  Uncle Chips    Snacks       300    1.4        0.1       37.5
4  8902170246811         Lays    Snacks       280    6.0        0.0       14.0
5  8913579135012      Kurkure    Snacks       340    2.0        0.0       20.0
6  8924510664907      Noodles     Heavy      1060    1.0        0.1        1.5
7  8902369946913        Pasta     Heavy       980    2.0        0.0        4.0
8  8905219182404       Pickle     Heavy       400   12.0        1.0       38.0
9  8908647951045    Nice Time    Snacks       250    2.0        0.0       20.0

In [0]:
#Defines the Category of the food item i.e. snacks, beverages etc
def category_definer(re):
  oi=fg[fg['Bar Code']==re].iloc[0]['Category']
  return oi

In [0]:
#Suggesting an alternative to the user's choice of food which will be better for his health.
def suggestion(re):
  category = category_definer(re)
  u23=np.min(fg[fg['Category']==category]['Product'])
  a=np.min(fg[fg['Bar Code']==re]['Product'])
  if u23==a:
    return "Stay Hungry :P"
  return "Tip: You can try {}".format(u23)

In [0]:
#This function is used to identify if the string received exists in the database.
def speechCheck(result):
    found=df[df['Product'].str.contains(result)]
    if (len(found)>0):
      g=df[df['Product']==result]['Bar Code']
      c=g.values.reshape(1,1)
      return int(c[0])
    else:
      return 'Does not exist'

In [0]:
#This function is the main function which uses the above functions and give output to app.

i=0
while True:
  if (i%10000000):
    fitbit()
  i=i+1
  check = firebase.get('/message/users/ifDetectedSend0', None)
  speechA = firebase.get('/message/users/trueForSpeech', None)
  if check==1:
    if speechA == False:
      result = firebase.get('/message/users/productId', None)
      firebase.put('/message/users','ifDetectedSend0',0)
      bmi=firebase.get ('/message/users/bmi', None)

      g=can_I_eat (result, bmi)
      firebase.put ('/message/users', 'outMessage',g)
      d1=suggestion(int(result))
      firebase.put ('/message/users', 'suggestion', d1)
    else:
      bmi=firebase.get ('/message/users/bmi', None)
      result = firebase.get('/message/users/speech', None)
      check1=speechCheck(result)
      if (check1=='Does not exist'):
        firebase.put ('/message/users', 'outMessage','Does not exist')
        firebase.put ('/message/users', 'suggestion', 'Suggestion:None')
      else:
        g=can_I_eat (check1, bmi)
        firebase.put ('/message/users', 'outMessage',g)
        d1=suggestion(int(check1))
        firebase.put ('/message/users', 'suggestion', d1)

        firebase.put('/message/users','ifDetectedSend0',0)

33.42923142663737
         Date Calories_Intake Calories_burnt
0  20/10/2019             130        96.5708
         Date Calories_Intake Calories_burnt
0  20/10/2019             130        96.5708
45.48119549853493
         Date Calories_Intake Calories_burnt
0  20/10/2019             234        188.519
         Date Calories_Intake Calories_burnt
0  20/10/2019             234        188.519
272.051292717518